<ul class="selected">
	{{#each selected as |tag|}}
		<li {{action 'removeTag' tag}}>
			#{{tag.value}}
			<a href="#" class="close"></a>
		</li>
	{{else}}
		<span class="placeholder">{{placeholder}}</span>
	{{/each}}
</ul>
<div class="overlay">
	<div class="modal">
		<header>
			{{header-button class="back" action=(action 'closePicker')}}
		</header>
		<section>
			<ul class="tags">
				{{#each tags as |tag|}}
					<li {{action 'addTag' tag}}>#{{tag.value}}</li>
				{{/each}}
			</ul>
		</section>
	</div>
</div>
