<header>
	{{back-button}}
	<h1>Change password</h1>
</header>
<main>
	<form {{action 'save' on='submit'}}>
		{{form-response error=error message=message}}
		<label>
			{{input type="password" value=password placeholder="Current password" required=true}}
		</label>
		<label>
			{{input type="password" value=newPassword placeholder="New password" required=true}}
		</label>
		<p>
			<button disabled={{working}}>{{if working 'Saving password...' 'Save'}}</button>
		</p>
	</form>
</main>
