<header>
	{{back-button}}
	<h1>Sign up</h1>
</header>
<main>
	<form {{action 'signUp' on='submit'}}>
		{{form-response error=error}}
		<label>
			{{input type="text" value=name placeholder="Name" required=true}}
		</label>
		<label>
			{{input type="email" value=email placeholder="Email" required=true}}
		</label>
		<label>
			{{input type="password" value=password placeholder="Password" required=true}}
		</label>
		<p>
			<button>Sign up</button>
		</p>
		<p>
			{{link-to 'Forgot password?' 'reset' tagName="button" class="ghost"}}
		</p>
	</form>
</main>
