<main>
	<section class="intro">
		<p>Misty is a PvE raiding guild on Magtheridon EU, currently progressing through Uldir</p>
		<p>We raid on Wednesdays, Fridays, and Sundays. We use <a href="https://discordapp.com" target="_blank">Discord</a> to communicate and socialize</p>
		<p>Check us out on <a href="http://eu.battle.net/wow/en/guild/magtheridon/Misty/">Battle.net</a> and <a href="https://www.wowprogress.com/guild/eu/magtheridon/Misty">WoWProgress</a></p>
	</section>
	<section>
		<h2>Council</h2>
		<section class="members">
			{{#each leadership as |leader|}}
			<article class="member">
				<figure class={{leader.badge}}>
					<img src={{leader.avatar}}>
				</figure>
				<div>
					<h3>{{leader.name}}</h3>
					<p>{{leader.race}} {{leader.class}}</p>
					{{#if leader.roles}}
					<p>
						{{#each leader.roles as |role|}}
              {{#if @index}}&#183;{{/if}}
							{{role}}
						{{/each}}
					</p>
					{{/if}}
				</div>
			</article>
			{{/each}}
		</section>
	</section>
	<section id="members">
		<h2>Members</h2>
		<section class="members">
			{{#each members as |member|}}
			<article class="member">
				<figure class={{member.badge}}>
					<img src={{member.avatar}}>
				</figure>
				<div>
					<h3>{{member.name}}</h3>
					<p>{{member.race}} {{member.class}}</p>
          {{#if member.roles}}
          <p>
            {{#each member.roles as |role|}}
              {{#if @index}}&#183;{{/if}}
              {{role}}
            {{/each}}
          </p>
          {{/if}}
				</div>
			</article>
			{{/each}}
		</section>
	</section>
	<section id="progress">
		<h2>Progress</h2>
		{{#each progression as |raid|}}
      <h3>{{raid.name}}</h3>
      <table class="progress">
        <thead>
          <tr>
            <th></th>
            <th>Normal</th>
            <th>Heroic</th>
            <th>Mythic</th>
          </tr>
        </thead>
        <tbody>
          {{#each raid.bosses as |boss|}}
          <tr>
            <th>{{boss.name}}</th>
            {{#if boss.normal}}
						<td class="done">&#10004;</td>
						{{else}}
						<td>&#10008;</td>
						{{/if}}
            {{#if boss.heroic}}
						<td class="done">&#10004;</td>
						{{else}}
						<td>&#10008;</td>
						{{/if}}
            {{#if boss.mythic}}
						<td class="done">&#10004;</td>
						{{else}}
						<td>&#10008;</td>
						{{/if}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{/each}}
	</section>
</main>
